[submodule "subprojects/libsingularity"]
	path = subprojects/libsingularity
	url = https://github.com/singularityos-lab/libsingularity.git
	branch = main

[submodule "subprojects/singularity-files"]
	path = subprojects/singularity-files
	url = https://github.com/singularityos-lab/singularity-files.git
	branch = main

[submodule "subprojects/singularity-leafs"]
	path = subprojects/singularity-leafs
	url = https://github.com/singularityos-lab/singularity-leafs.git
	branch = main

[submodule "subprojects/singularity-polkit-agent"]
	path = subprojects/singularity-polkit-agent
	url = https://github.com/singularityos-lab/singularity-polkit-agent.git
	branch = main

[submodule "subprojects/singularity-calculator"]
	path = subprojects/singularity-calculator
	url = https://github.com/singularityos-lab/singularity-calculator.git
	branch = main

[submodule "subprojects/xdg-desktop-portal-singularity"]
	path = subprojects/xdg-desktop-portal-singularity
	url = https://github.com/singularityos-lab/xdg-desktop-portal-singularity.git
	branch = main

[submodule "subprojects/labwc"]
	path = subprojects/labwc
	url = https://github.com/singularityos-lab/labwc.git
	branch = singularity
[submodule "subprojects/singularity-calendar"]
	path = subprojects/singularity-calendar
	url = https://github.com/singularityos-lab/singularity-calendar.git
	branch = main
[submodule "subprojects/singularity-demo"]
	path = subprojects/singularity-demo
	url = https://github.com/singularityos-lab/singularity-demo.git
	branch = main
[submodule "subprojects/singularity-edit"]
	path = subprojects/singularity-edit
	url = https://github.com/singularityos-lab/singularity-edit.git
	branch = main
[submodule "subprojects/singularity-git"]
	path = subprojects/singularity-git
	url = https://github.com/singularityos-lab/singularity-git.git
	branch = main
[submodule "subprojects/singularity-keyring"]
	path = subprojects/singularity-keyring
	url = https://github.com/singularityos-lab/singularity-keyring.git
	branch = main
[submodule "subprojects/singularity-monitor"]
	path = subprojects/singularity-monitor
	url = https://github.com/singularityos-lab/singularity-monitor.git
	branch = main
[submodule "subprojects/singularity-music"]
	path = subprojects/singularity-music
	url = https://github.com/singularityos-lab/singularity-music.git
	branch = main
[submodule "subprojects/singularity-photos"]
	path = subprojects/singularity-photos
	url = https://github.com/singularityos-lab/singularity-photos.git
	branch = main
[submodule "subprojects/singularity-store"]
	path = subprojects/singularity-store
	url = https://github.com/singularityos-lab/singularity-store.git
	branch = main
[submodule "subprojects/singularity-videos"]
	path = subprojects/singularity-videos
	url = https://github.com/singularityos-lab/singularity-videos.git
	branch = main
[submodule "subprojects/singularity-write"]
	path = subprojects/singularity-write
	url = https://github.com/singularityos-lab/singularity-write.git
	branch = main
[submodule "subprojects/singularity-greeter"]
	path = subprojects/singularity-greeter
	url = https://github.com/singularityos-lab/singularity-greeter.git
	branch = main
[submodule "subprojects/singularity-wallpapers"]
	path = subprojects/singularity-wallpapers
	url = https://github.com/singularityos-lab/singularity-wallpapers.git
	branch = main
[submodule "subprojects/singularity-themes"]
	path = subprojects/singularity-themes
	url = https://github.com/singularityos-lab/singularity-themes.git
	branch = main
[submodule "subprojects/singularity-plugins"]
	path = subprojects/singularity-plugins
	url = https://github.com/singularityos-lab/singularity-plugins.git
	branch = main
[submodule "subprojects/singularity-widgets"]
	path = subprojects/singularity-widgets
	url = https://github.com/singularityos-lab/singularity-widgets.git
	branch = main
[submodule "subprojects/singularity-session"]
	branch = main
	path = subprojects/singularity-session
	url = https://github.com/singularityos-lab/singularity-session.git
[submodule "subprojects/singularity-shell"]
	path = subprojects/singularity-shell
	url = https://github.com/singularityos-lab/singularity-shell.git
	branch = main
[submodule "subprojects/singularity-loginui"]
	path = subprojects/singularity-loginui
	url = https://github.com/singularityos-lab/singularity-loginui.git
[submodule "subprojects/singularity-installer"]
	path = subprojects/singularity-installer
	url = https://github.com/singularityos-lab/singularity-installer.git
[submodule "subprojects/singularity-gestures"]
	path = subprojects/singularity-gestures
	url = https://github.com/singularityos-lab/singularity-gestures.git
	branch = main
